li.project-preview p {
  text-align: center;
}

li.project-preview img {
  width: 200px;
  height: 200px;
  display: block;
  margin: 0 auto;
}

ul.project-list,
.tech-list {
  list-style-type: none;
  text-align: center;
  padding: 0;
}

.project-preview {
  display: inline-block;
  vertical-align: top;
  width: 250px;
  border: 1px solid black;
  margin-bottom: 20px;
  padding: 10px 5px;
}

.tech-list li {

}