li.project-preview p {
  text-align: center;
}

li.project-preview img {
  width: 200px;
  height: 200px;
  display: block;
  margin: 0 auto;
  border-radius: 100%;
}

ul.project-list,
.tech-list {
  list-style-type: none;
  text-align: center;
  padding: 0;
}

.project-preview {
  display: inline-block;
  vertical-align: top;
  width: 250px;
  margin-bottom: 20px;
  padding: 10px 5px;
}

.badge {
  background: lightgrey;
  border-radius: 10px;
  padding: 4px 10px;
  color: black;
}

.skills {
  text-transform: uppercase;
  background-color: black;
  color: snow;
  text-align: center;
  padding: 20px 0;
}

.skill {
  padding: 0 5px;
}

.skill + .skill {
  border-left: 1px solid snow;
}


.projects {
  padding-top: 20px;
  background-image: linear-gradient(to top, #200537, #293068, #275b98, #1788c4, #12b8eb);
  color: snow;
}

